.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 36px 0 50px;
  width: 88%;
}

.elements__item {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 361px;
  width: 282px;
}

.elements__item-image-container {
  position: relative;
}

.elements__item-action-button {
  position: absolute; /* Permite colocar el botón sobre la imagen */
  top: 5%;
  left: 85%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: opacity 0.5s ease;
}

.elements__item-action-button:hover {
  opacity: 0.5;
}

.elements__item-content {
  color: #000;
  width: 87%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
}

.elements__item-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.elements__item-img {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  display: block;
}

.elements__item-content button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.elements__item-content button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .elements {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .elements {
    width: 68.75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
  }
}
