.elements {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.elements__item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.elements__item-content {
  color: #000;
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 25px 0px;
}

.elements__item-content p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.elements__item-content button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.elements__item-content button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .elements {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .elements {
    width: 68.75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
  }
}
