.footer {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #545454;
  margin: auto 0 36px;
  width: 88%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    width: 75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}
.footer {
  width: 68.75%;
}
