.header {
  width: 100%;
  display: flex;
  align-items: start;
  height: 56px;
  margin-top: 28px;
  border-bottom: 1px solid #545454;
}

.logo {
  width: 39%;
  margin-left: 27px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 19.6%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 68.75%;
  }

  .logo {
    width: 19.6%;
  }
}
