.overlay__image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  display: none;
  z-index: 999; /* Asegura que esté detrás del formulario */
}

.overlay__image--active {
  display: block;
}

.popup__image {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  width: fit-content;
}
.popup_is-opened {
  display: flex;
}

.popup__button-image {
  margin-left: auto;
}

.popup__button-close {
  transform: rotate(45deg);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup__button-close:hover {
  opacity: 0.6;
}

.popup__image-img {
  max-width: 75vw;
  max-height: 75vh;
  margin-top: 30px;
}

.popup__image-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 0%;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .popup__button-close {
    width: 130%;
  }
}
