.profile {
  display: flex;
  width: 68.7%;
  margin-top: 40px;
}

.profile_avatar {
  width: 19.17%;
  text-align: center;
}

.profile_avatar_image {
  border-radius: 50%;
  width: 71.1%;
  display: inline-block;
}

.profile_info {
  width: 47.15%;
  height: 77px;
  display: flex;
  flex-wrap: wrap;
}

.profile_info_name {
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: fit-content;
}

.profile_info_description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.profile_info_edit-button {
  background-color: black;
  width: 24px;
  border: none;
  margin-left: auto;
}

.profille_add-button {
  margin-left: auto;
}

.profille_add-button_edit {
  background-color: #000;
  border: solid #fff;
  padding: 14px 64px;
}

@media screen and (max-width: 320px) {
  .profile {
    width: 88.12%;
    margin-top: 42px;
    flex-direction: column;
    align-items: center;
  }

  .profile_avatar {
    width: 59.66%;
  }

  .profile_info {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }

  .profile_info_name {
    font-size: 22px;
    line-height: 26.63px;
  }

  .profile_info_edit-button {
    width: 18px;
    margin-left: 10px;
    align-self: baseline;
  }

  .profile_info_description {
    font-size: 14px;
    line-height: 16.94px;
  }
  .profille_add-button {
    margin: auto;
  }

  .profille_add-button_edit {
    padding: 17px 133px;
  }
}
